<div class="container">
  <form action="/answer">
    <input type="text" name="question" placeholder="What question do you want to ask?" class="input-box">
    <input type="submit" value="Ask!" class="btn">
  </form>
</div>
